:root {
    --color-datepicker-bg: #f0f4ff;
    --color-date-primary-text: black;
    --color-date-secondary-text: lightgray;
    --color-date-selected-text: #ffffff;
    --color-date-primary-bg: #ffffff;
    --color-date-secondary-bg: #e1e1e1;

    --color-date-event-primary-bg: #3273dc;
    --color-date-event-secondary-bg: #cdd7ef;
    --color-date-hover-primary-bg: #2964ba;
    --color-date-hover-secondary-bg: #b7c2df;
    --color-date-selected-primary-bg: #2658ad;
    --color-date-selected-secondary-bg: #9daccd;

    --datepicker-rounding-radius: 10px;
}

#datepicker-wrapper {
    #datepicker-mode-tabs
    {
        margin-bottom: 0.75rem !important;

        .nav-item .nav-link {
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    
    
            &:hover {
                background-color: color-mix(in srgb, var(--collab-blue) 25%, transparent);
            }
    
            &.active {
                background-color: var(--collab-blue) !important;
                color: var(--collab-white) !important;
                border-color: transparent !important;
            }
    
            color: var(--collab-blue) !important;
            font-weight: bold !important;
        }
    }
    #datepicker-container {
        justify-self: center;
        /* height: 18rem !important; */

        .datepicker {
            /* background-color: var(--color-datepicker-bg) !important; */
            font-size: 0.85rem;
            .datepicker-picker {
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.08);
            border-radius: var(--datepicker-rounding-radius) !important;

                background-color: var(--collab-white) !important;

                .datepicker-header {
                    .datepicker-controls {
                        border-bottom: solid var(--color-secondary) 1px !important;
                        background-color: var(--collab-blue) !important;
                        border-radius: var(--datepicker-rounding-radius) var(--datepicker-rounding-radius) 0 0 !important;

                        button{
                            color: color-mix(in srgb, var(--collab-white) 90%, transparent);
                            font-weight: bold !important;
                            border: transparent;    

                            &:hover {
                                color: var(--collab-white);
                            }
                        }
                    }
                }

                /* .datepicker-footer {
                    background: transparent !important;
                    padding: 0.2rem !important;

                    .datepicker-controls {
                        background-color: transparent !important;

                        .today-button,
                        button {
                            font-variant-numeric: proportional-nums !important;*/
                            /*border: solid var(--color-datepicker-bg) 0.1rem;*/
                            /*background-color: var(--color-date-primary-bg) !important;*/
                            /*color: var(--color-date-primary-text) !important;
                        }
                    }
                } */

                .datepicker-main {
                    background-color: transparent !important;
                    padding: 0.5rem;
                    gap: 0.1rem;

                    .datepicker-cell {
                        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                        position: relative;
                        font-variant-numeric: proportional-nums !important;
                        /* padding-bottom: 0.05rem !important; */
                        border-radius: 50% !important;
                        /* border: solid var(--color-datepicker-bg) 0.1rem; */
                        /* background-color: var(--color-date-primary-bg) !important; */
                        background-color: transparent !important;
                        color: var(--color-date-primary-text) !important;

                        &:not(.day) {
                            border-radius: 30% !important;
                            height: 3.5rem !important;
                        }

                        &.prev,
                        &.next {
                            /* background-color: var(--color-date-secondary-bg) !important; */
                            color: var(--color-date-secondary-text) !important;
                        }

                        &:not(.disabled) {

                            &.event {
                                &::after {
                                    position: absolute;
                                    content: '';
                                    display: block;
                                    /*height: 15%;*/
                                    aspect-ratio: 1;
                                    bottom: 0;
                                    /*margin-bottom: 10%;*/
                                    /* border-radius: 50%; */
                                    background-color: var(--collab-yellow);


                                    height: 5%;
                                    width: 40%;
                                    bottom: 0;
                                    margin-bottom: 28%;
                                }
                                /* color: var(--color-date-selected-text) !important;
                                background-color: var(--color-date-event-primary-bg) !important; */
                            }

                            &:hover {
                                color: var(--color-date-selected-text) !important;
                                background-color: var(--color-date-hover-primary-bg) !important;
                            }

                            &.selected {
                                color: var(--color-date-selected-text) !important;
                                background-color: var(--color-date-selected-primary-bg) !important;
                            }

                            &.prev,
                            &.next {
                                color: var(--color-date-secondary-text) !important;

                                /*&.event {
                                    color: var(--color-date-selected-text) !important;
                                    background-color: var(--color-date-event-secondary-bg) !important;
                                }

                                &:hover {
                                    color: var(--color-date-selected-text) !important;
                                    background-color: var(--color-date-hover-secondary-bg) !important;
                                }

                                &.selected {
                                    color: var(--color-date-selected-text) !important;
                                    background-color: var(--color-date-selected-secondary-bg) !important;
                                } */
                            }
                        }
                    }
                }
            }
        }
    }
}