<div id='datepicker-wrapper' th:fragment='datepicker'>
    <!-- vanillajs-datepicker css -->
    <style th:inline="css">@import url(https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css);</style>
    <style th:inline="css">@import url([[@{/css/components/datepicker.css}]]);</style>

    <ul class="nav nav-tabs mb-2" id="datepicker-mode-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="datepicker-mode-day-tab" data-bs-toggle="tab" data-bs-target="#day" type="button"
                role="tab" aria-selected="true" value='day'>Day</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="datepicker-mode-month-tab" data-bs-toggle="tab" data-bs-target="#month" type="button"
                role="tab" aria-selected="false" tabindex="-1" value='month'>Month</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="datepicker-mode-year-tab" data-bs-toggle="tab" data-bs-target="#year" type="button" role="tab"
                aria-selected="false" tabindex="-1" value='year'>Year</button>
        </li>
    </ul>
    <div id='datepicker-container'></div>
    <div class="d-grid gap-2 mt-4">
        <button class="btn btn-outline-secondary btn-sm" id="datepicker-btn-today">
            <i class="fas fa-calendar-day"></i> Today
        </button>
        <button class="btn btn-outline-primary btn-sm" id="datepicker-btn-all">
            <i class="fas fa-list"></i> All Sessions
        </button>
    </div>
    <!-- vanillajs-datepicker js-->
    <script rel='preload' src='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js'
        integrity='sha256-lAqEwIY3SN/sHT1ifrYPOFtFcoZYl15AFzUTeDpS8gk=' crossorigin='anonymous'></script>
    <script rel='preload' th:src='@{/js/api.js}'></script>
    <script rel='preload' th:src='@{/js/utils.js}'></script>
    <script th:inline='javascript'>
        (async () => {
            let sessionsTimestamp = [];

            const dateFormatOptions = {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric'
            };

            const datepickerContainer = document.getElementById('datepicker-container');
            datepickerContainer.mode = 'day';
            let datepicker = null;
            datepicker = new Datepicker(datepickerContainer, {
                buttonClass: 'btn',
                container: datepickerContainer,
                prevArrow: '<i class="bi bi-caret-left-fill"></i>',
                nextArrow: '<i class="bi bi-caret-right-fill"></i>',
                // todayButton: true,
                // todayButtonMode: 1,
                todayHighlight: true,
                beforeShowDay: function (date) {

                    if (sessionsTimestamp.some(timestamp => utils.compareDates(timestamp, date, 'day'))) {
                        return {
                            classes: 'event',
                            tooltip: 'You have a session on this day'
                        }
                    } else if (!datepicker || !utils.compareDates(datepicker.getDate(), date, 'day')) {
                        return {
                            classes: 'disabled',
                        }
                    }
                },
                beforeShowMonth: function (date) {
                    if (sessionsTimestamp.some(timestamp => utils.compareDates(timestamp, date, 'month'))) {
                        return {
                            classes: 'event',
                            tooltip: 'You have a session on this month'
                        }
                    } else if (!datepicker || !utils.compareDates(datepicker.getDate(), date, 'month')) {
                        return {
                            classes: 'disabled',
                        }
                    }
                },
                beforeShowYear: function (date) {
                    if (sessionsTimestamp.some(timestamp => utils.compareDates(timestamp, date, 'year'))) {
                        return {
                            classes: 'event',
                            tooltip: 'You have a session on this year'
                        }
                    } else if (!datepicker || !utils.compareDates(datepicker.getDate(), date, 'year')) {
                        return {
                            classes: 'disabled',
                        }
                    }
                }
            });

            async function updateMode(e) {
                datepickerContainer.mode = e.target.value;
                let viewId = 0;
                switch (datepickerContainer.mode) {
                    case 'year':
                        viewId = 2;
                        break;
                    case 'month':
                        viewId = 1;
                        break;
                    case 'day':
                        viewId = 0;
                        break;
                }
                if (viewId !== datepickerContainer.datepicker.picker.currentView.id) {
                    datepickerContainer.datepicker.picker.changeView(viewId).render();
                    if (datepickerContainer.datepicker.getDate().valueOf() === datepickerContainer.datepicker.picker.viewDate.valueOf()) {
                        const data = {
                            bubbles: !0,
                            cancelable: !0,
                            detail: {
                                date: datepickerContainer.datepicker.getDate(),
                                viewDate: new Date(datepickerContainer.datepicker.picker.viewDate),
                                viewId: datepickerContainer.datepicker.picker.currentView.id,
                                datepicker: datepickerContainer.datepicker
                            }
                        };
                        datepickerContainer.dispatchEvent(new CustomEvent('changeDate', data));
                    }
                }
            }

            const modeTabsContainer = document.getElementById('datepicker-mode-tabs');
            modeTabsContainer.querySelectorAll('button').forEach(button => button.addEventListener('click', updateMode));

            // const todayButton = datepickerContainer.querySelector('.datepicker-footer .today-button')
            // todayButton.parentElement.insertBefore(modeToggleContainer, todayButton);

            let lastUsername = null;
            datepickerContainer.loadDates = async function loadDates(username = null) {
                if (username) {
                    lastUsername = username;
                }
                const mode = datepickerContainer.mode;
                const viewDate = datepicker.picker.viewDate.valueOf();

                let range;

                if (mode === 'year') {
                    range = utils.getDateRange(viewDate, 'year', false);
                } else if (mode === 'month') {
                    range = utils.getDateRange(viewDate, 'year', true);

                } else if (mode === 'day') {
                    range = utils.getDateRange(viewDate, 'month', true);
                }

                // const sessions = await api.getUserSessions(user, range.from, range.to);
                const sessions = await api.getUserSessions(lastUsername);
                sessionsTimestamp = [...new Set(sessions.map(session => session.startTimestamp))];
            }

            datepickerContainer.addEventListener('changeView', async function (e) {
                let viewId = 0;
                switch (datepickerContainer.mode) {
                    case 'year':
                        viewId = 2;
                        break;
                    case 'month':
                        viewId = 1;
                        break;
                    case 'day':
                        viewId = 0;
                        break;
                }
                if (e.detail.viewId < viewId) {
                    datepickerContainer.datepicker.picker.changeView(viewId).render();
                } else if (e.detail.viewId === viewId) {
                    if (datepickerContainer.datepicker.getDate().valueOf() !== datepickerContainer.datepicker.picker.viewDate.valueOf()) {
                        datepicker.setDate(datepickerContainer.datepicker.picker.viewDate.valueOf());
                    } else {
                        await datepickerContainer.loadDates();
                    }
                }
            });

            const prevArrow = datepickerContainer.querySelector('.prev-button');
            prevArrow.addEventListener('click', () => datepickerContainer.loadDates());

            const nextArrow = datepickerContainer.querySelector('.next-button');
            nextArrow.addEventListener('click', () => datepickerContainer.loadDates());

            const todayButton = document.getElementById('datepicker-btn-today');
            todayButton.addEventListener('click', () => {
                datepickerContainer.mode = 'none';
                datepicker.setDate(0, { render: false });
                datepickerContainer.mode = 'day';
                datepicker.setDate(new Date().valueOf(), { forceRefresh: true, clear: true });
                const dayTabButton = document.getElementById("datepicker-mode-day-tab");
                dayTabButton.click();
            });

            datepicker.setDate(new Date().valueOf());
            datepicker.refresh({ forceRefresh: true });
        })();
    </script>
</div>