<div class='table-wrapper' th:fragment='users-table'>
    <table id='users-table'></table>
    <template id='users-role-dropdown-template'>
        <div class="d-inline-flex">
            <button class='btn btn-outline-secondary dropdown-toggle' type='button' data-bs-toggle='dropdown'
                aria-expanded='false'>
                <span>Role</span>
            </button>
            <ul class='dropdown-menu nowrap'>
                <!-- <li><a class="dropdown-item" href="#" data-value="ROLE_ADMIN">Admin</a></li> -->
                <li><a class="dropdown-item" href="#" data-value="ROLE_EDITOR">Editor</a></li>
                <li><a class="dropdown-item" href="#" data-value="ROLE_USER">User</a></li>
            </ul>
        </div>
    </template>

    <!-- datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>

    <script rel='preload' th:src='@{/js/api.js}'></script>
    <script th:inline='javascript'>
        (async () => {
            const currentUser = /*[[${user}]]*/ '';
            const rolesDropdownTemplate = document.getElementById('users-role-dropdown-template');

            const usersTable = document.getElementById('users-table');
            usersTable.dataTable = new DataTable(usersTable, {
                lengthChange: false,
                searching: false,
                info: false,
                responsive: true,
                autoWidth: false,
                language: {
                    emptyTable: '<div class="text-center my-3">No users available</div>',
                    zeroRecords: '<div class="text-center my-3">No users available</div>'
                },

                columns: [
                    { title: "Username" },
                    // { title: "Name" },
                    { title: "Email" },
                    { title: "Role", sortable: false },
                    { title: "Actions", sortable: false, width: '12rem' }
                ]
            });

            usersTable.loadTable = async function loadTable(users) {
                const tableData = [];
                usersTable.dataTable.clear().draw();

                for (let i = 0; i < users.length; i++) {
                    const userData = [];
                    const user = users[i];

                    const username = user.username;
                    // const name = 'Name'; //user.name;
                    const email = user.email;
                    const userRole = user.role;


                    let rolesElement;
                    if (currentUser.role !== 'ROLE_ADMIN') {
                        const rolesNames = new Map([
                            ['ROLE_ADMIN', 'Admin'],
                            ['ROLE_EDITOR', 'Editor'],
                            ['ROLE_USER', 'User']
                        ]);
                        rolesElement = rolesNames.get(userRole);
                    }
                    else {
                        rolesElement = rolesDropdownTemplate.content.cloneNode(true).firstElementChild;

                        const roleSpan = rolesElement.querySelector('span');
                        const rolesButtons = rolesElement.querySelectorAll('a.dropdown-item');
                        rolesButtons.forEach((button) => {
                            button.onclick = (event) => {
                                event.preventDefault();
                                const selectedRole = event.target.getAttribute('data-value');
                                roleSpan.innerText = button.innerText;
                                api.setUserRole(user.username, selectedRole);
                                rolesButtons.forEach((btn) => {
                                    btn.classList.remove('active');
                                });
                                button.classList.add('active');
                            };
                            if (button.getAttribute('data-value') === userRole) {
                                button.classList.add('active');
                                roleSpan.innerText = button.innerText;
                            }
                        });
                    }

                    const actionsCell = document.createElement('div');
                    actionsCell.classList.add('actions-cell');

                    const viewButton = utils.createActionButton(
                        ['btn', 'btn-outline-primary', 'shadow-sm'],
                        ['bi', 'bi-search'],
                        'View Sessions',
                        () => window.location.href = `/sessions?user=${user.username}`
                    );
                    actionsCell.append(viewButton);

                    userData.push(username);
                    // userData.push(name);
                    userData.push(email);
                    userData.push(rolesElement);
                    userData.push(actionsCell);

                    tableData.push(userData);
                }
                usersTable.dataTable.rows.add(tableData).draw();
            }
        })()
    </script>
</div>