<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org' lang='en'>
<head th:insert="~{fragments/common::header('Users')}">
    <title>Users</title>
</head>
<body>
<nav th:replace='~{fragments/common::navbar}'></nav>

<div id='main' class='d-table d-lg-grid'>
    <div id='right-content'>
        <div id='right-header'>
            <h2>
                <span id='sessions-text'>Users</span>
                <span id='users-count' class='badge fs-6 rounded-pill text-bg-primary'>0</span>
            </h2>
        </div>
        <div id='right-body' th:insert='fragments/users-table::users-table'></div>
    </div>
</div>

<script rel='preload' th:src='@{/js/utils.js}'></script>
<script th:inline='javascript'>
    (async () => {
        const currentUser = /*[[${user}]]*/ '';

        const usersCountLabel = document.getElementById('users-count');
        const usersTable = document.getElementById('users-table');

        let users = await api.getUsers();
        users = users.filter((user) => user.username !== currentUser.username);
        usersCountLabel.innerHTML = users.length;
        usersTable.loadTable(users);
    })();
</script>
<div th:replace='~{fragments/common::footer}'></div>
</body>
</html>